#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #FDBFAF;
} 

input, textarea {
  padding: 10px;
  min-width: 400px;
  background-color: #FDBFAF;
  color: #4D5264;
  margin: 10px;
}

form {
  background-color: #FDBFAF;
}

.submit-btn {
  background-color: #7EB6D7;
  color: black;
  font-weight: bold;
}


h3 {
  font-size: x-large;
  padding: 10px;
}

#logout-btn {
  background-color: #FDBFAF;
  border-radius: 10px; 
  max-width: 100px;
  min-width: none;
  text-decoration: underline
}

