#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #FDBFAF;
} 

input, textarea {
  padding: 10px;
  min-width: 400px;
  /* background-color: white; */
  background-color: #FDBFAF;
  color: #4D5264;
}

.submit-btn {
  background-color: #7EB6D7;
  color: black;
  font-weight: bold;
}

/* h1 {
  font-size: xx-large;
  color: #4D5264;
} */

h3 {
  font-size: x-large;
  padding: 10px;
}

#logout-btn {
  background-color: #FDBFAF;
  /* border: 2px solid black; */
  border-radius: 10px; 
  max-width: 100px;
  min-width: none;
  text-decoration: underline
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
