:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #FDBFAF;
}

html {
  background-color: #FDBFAF;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #FDBFAF;
  width: 1200px;
  min-height: 100vh;
}
